@model nashtech_form.Mvc.Models.Member

@{
    ViewData["Title"] = "Confirmation";
}

<p class="p-3 alert-danger">Are you sure you want to delete this?</p>

<div>
    <p class="h3">@Model.firstName</p>
    <p class="h3">@Model.lastName</p>
    <hr />
    <dl class="row">
        <dt class="col-sm-2"><label asp-for="firstName"></label></dt>
        <dd class="col-sm-10">@Model.firstName</dd>
        <dt class="col-sm-2"><label asp-for="lastName"></label></dt>
        <dd class="col-sm-10">@Model.lastName</dd>
        <dt class="col-sm-2"><label asp-for="Gender"></label></dt>
        <dd class="col-sm-10">@Model.Gender</dd>
        <dt class="col-sm-2"><label asp-for="DOB"></label></dt>
        <dd class="col-sm-10">@Model.DOB</dd>
        <dt class="col-sm-2"><label asp-for="phoneNumber"></label></dt>
        <dd class="col-sm-10">@Model.phoneNumber</dd>
        <dt class="col-sm-2"><label asp-for="birthPlace"></label></dt>
        <dd class="col-sm-10">@Model.birthPlace</dd>
        <dt class="col-sm-2"><label asp-for="Age"></label></dt>
        <dd class="col-sm-10">@Model.Age</dd>
        <dt class="col-sm-2"><label asp-for="isGraduated"></label></dt>
        <dd class="col-sm-10">@Model.isGraduated </dd>
    </dl>
</div>

<hr />

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" class="btn btn-outline-danger btn-sm" /> |
    <a asp-action="Index" class="btn btn-sm btn-outline-secondary">Back to List</a>
</form>