@model nashtech_form.Mvc.Models.Member

@{
    ViewData["Title"] = Model.lastName;
}

<div>
    <p class="h3">@Model.lastName</p>
    <hr />
    <dl class="row">
        <dt class="col-sm-2"><label asp-for="firstName"></label></dt>
        <dd class="col-sm-10">@Model.firstName</dd>
        <dt class="col-sm-2"><label asp-for="lastName"></label></dt>
        <dd class="col-sm-10">@Model.lastName</dd>
        <dt class="col-sm-2"><label asp-for="Gender"></label></dt>
        <dd class="col-sm-10">@Model.Gender</dd>
        <dt class="col-sm-2"><label asp-for="DOB"></label></dt>
        <dd class="col-sm-10">@Model.DOB</dd>
        <dt class="col-sm-2"><label asp-for="phoneNumber"></label></dt>
        <dd class="col-sm-10">@Model.phoneNumber</dd>
        <dt class="col-sm-2"><label asp-for="birthPlace"></label></dt>
        <dd class="col-sm-10">@Model.birthPlace</dd>
        <dt class="col-sm-2"><label asp-for="Age"></label></dt>
        <dd class="col-sm-10">@Model.Age </dd>
        <dt class="col-sm-2"><label asp-for="IsGraduated"></label></dt>
        <dd class="col-sm-10">@Model.IsGraduated </dd>
        
    </dl>
</div>

<hr />

<div>    
    <a asp-action="Index" class="btn btn-sm btn-outline-secondary">Back to List</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-danger">Delete</a>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-warning">Edit</a>
</div>